<div class="travelCard">
    {{#each partials.travelCard}}
        <div class="cardInfo">
            <h3>{{name}}</h3>
            <img src="{{cardImgUrl}}" alt="{{cardImgName}}">
            <span>{{price}}</span>
        </div>
    {{/each}}
</div>