<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
    <link rel="shortcut icon"type="image/x-icon" href="img/bird.png" media="screen" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>