<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<span class="headerTitle"><img src="/img/bird.png" alt="Meadowlark Travel Logo">&nbsp;草鹨旅行网</span>
	{{{body}}}
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</body>
</html>