<div class="mainContainer">
        <div class="content1">
            <div class="wrapper">
                <div class="bg"></div>
                <div class="content">
                    <div class="bgHeader">
                        <a href="/">
                            <div class="headerLogo">
                                <img src="img/bird.png"> &nbsp;草鹨旅行网
                            </div>
                        </a>
                        <ul class="bgNav">
                            <li>首页</li>
                            <li>定制</li>
                            <li>灵感</li>
                        </ul>
                        <form class="headerForm">
                            <div class="headerSearch">
                                <input placeholder="请输入国家或城市">
                                <button><i></i></button>
                            </div>
                        </form>
                        <div class="headerLogin">
                            {{#if username}}
                                <a class="userName">{{username}} </a>
                                <div class="subitem">
                                    <div>
                                        <a href="#">我的行程</a>
                                    </div>
                                    <div>
                                        <a href="#">个人中心</a>
                                    </div>
                                    <div>
                                        <a href="/loginOut">退出登录</a>
                                    </div>
                                </div>
                            {{else}}
                                <a href="/login">登录 /</a>
                                <a href="/register">注册</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
                <ul>
                    <li><img src="img/header2.jpg"></li>
                </ul>
                <span><span class="headerName">踩在浪花上：</span>出发吧，既然你想到去看海了</span>
                <ul>
                    <li><img src="img/header3.jpg"></li>
                </ul>
                <span><span class="headerName">云一朵朵：</span>花依然盛开着呢，她依然在等你呢</span>
                <ul>
                    <li><img src="img/header4.jpg"></li>
                </ul>
                <span><span class="headerName">故乡呢：</span>毕业了，你欠我的那场旅行该还给我了</span>
        </div>
        <div class="content3">
            <div class="section">
                <ul id="tabs">
                    <li class="active">
                        <a title="tab1" href="#">亚洲</a>
                    </li>
                    <li>
                        <a title="tab2" href="#">欧洲</a>
                    </li>
                    <li>
                        <a title="tab3" href="#">美洲</a>
                    </li>
                    <li>
                        <a title="tab4" href="#">大洋洲</a>
                    </li>
                    <li>
                        <a title="tab5" href="#">全球</a>
                    </li>
                </ul>

                <div id="sectionContent">
                    <div id="tab1" class="item show">
                        <ul class="tabContent">
                            {{> travelCard}}
                        </ul>
                    </div>
                    <div id="tab2" class="item">
                        <ul class="tabContent">
                            {{> travelCard}}
                        </ul>
                    </div>
                    <div id="tab3" class="item">
                        <ul class="tabContent">
                            {{> travelCard}}
                        </ul>
                    </div>
                    <div id="tab4" class="item">
                        <ul class="tabContent">
                            {{> travelCard}}
                        </ul>
                    </div>
                    <div id="tab5" class="item">
                        <ul class="tabContent">
                            {{> travelCard}}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="toAllLand">
            <a href="#">查看全部目的地</a>
        </div>
        <div class="specialWrapper">
            <div class="specialItem">
                <a>
                    <img>
                    <div></div>
                </a>
            </div>
            <div class="specialItem"></div>
            <div class="specialItem"></div>
            <div class="specialItem"></div>
        </div>
    </div>


<script>
    $(document).ready(function(){
        $('#tabs a').click(function(e) {
          e.preventDefault();                
          $('#tabs li').removeClass("active").removeClass("hoverItem");
          $(this).parent().addClass("active");
          $("#sectionContent div").removeClass("show");
          $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs a').hover(function(){
            if(!$(this).parent().hasClass("active")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
        });
        $('.headerLogin').hover(function(){
            $(this).addClass("headerLoginHover");
        })
        $('.headerLogin').mouseleave(function(){
            $(this).removeClass("headerLoginHover")
        })
</script>