<div class="mainContainer">
        <div class="content1">
            <div class="wrapper">
                <div class="bg"></div>
                <div class="content">
                    <div class="bgHeader">
                        <a href="/">
                            <div class="headerLogo">
                                <img src="img/bird.png"> &nbsp;草鹨旅行网
                            </div>
                        </a>
                        <ul class="bgNav">
                            <li>首页</li>
                            <li>定制</li>
                            <li>灵感</li>
                        </ul>
                        <form class="headerForm">
                            <div class="headerSearch">
                                <input placeholder="请输入国家或城市">
                                <button><i></i></button>
                            </div>
                        </form>
                        <div class="headerLogin">
                            <a href="/login">登录 /</a>
                            <a href="/register">注册</a>
                        </div>
                    </div>
                    <div class="bgContent">
                        <a href="/">
                            <div class="contentLink">世界这么大，我想去看看。</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{> travelCard}}