body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.main{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
    background: url(../img/back.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
}
.outScroll{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow-y: auto;
}
.outScroll>div{
    display: block;
    width: 350px;
    height: 450px;
    margin: 100px auto 100px;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
    color: black;
    background-color: white;
    /* border: 2px solid goldenrod; */
    border-radius: 15px;
    background-position: 0 -115px;
}
.header{
    margin: 20px;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.loginTitle{
    text-align: center;
}
.loginTitle>span{
    color: darkgray;
}
.loginForm{
    margin: 20px;
}
.registerBtn{
    border: 1px solid goldenrod;
}
.registerWarning{
    text-align: center;
    color: red;
    font-size: 0.9rem;
}

/* 主页面部分 */
.mainContainer{
    position: relative;
    min-height: 100%;
    background: rgb(234, 234, 234);
    color: white;
}
.content1{
    position: relative;
    width: 100%;
    height: 540px;
    min-width: 980px;
    overflow: hidden;
    background-color: #2d3a40;
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.bg{
    height: 100%;
    background: url(../img/mainBack4.jpg) no-repeat;
    background-size: 100% 100%;
    max-width: 1920px;
    opacity: 0.7;
    width: 100%;
    position: absolute;
}
.content{
    position: relative;
    left: 50%;
    width: 1220px;
    height: 540px;
    margin-left: -610px;
    text-align: center;
}
.bgHeader{
    width: 1220px;
    height: 120px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    line-height: 120px;
    padding: 0 20px 0 20px;
}
.headerLogo{
    width: 200px;
    position: relative;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    float: left;
}   
.bgNav{
    float: left;
    list-style-type: disc;
    display: block;
}
.bgNav>li{
    width: 60px;
    float: left;
    font-size: 1.6rem;
    position: relative;
    margin-left: 40px;
    list-style: none;
    cursor: pointer;
}
.headerForm{
    width: 320px;
    height: 100%;
    margin-left: 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerSearch{
    width: 320px;
    position: relative;
}
.headerSearch>input{
    width: 320px;
    height: 60px;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 4px;
    line-height: 60px;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
}
.headerSearch>button{
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -15px;
}
.headerSearch>button>i{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 60px;
    background: url(../img/search.png);
}
.headerSearch>input::-webkit-input-placeholder{
    font-weight: lighter;
    color: whitesmoke;
}
.headerLogin{
    float: right;
    width: 100px;
    height: 100%;
    font-size: 1.3rem;
    cursor: pointer;
}
.headerLogin>a{
    color: white;
    text-decoration: none;
}
.contentLink{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    margin-top: 130px;
}
.bgContent>a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.content2{
    height: 50px;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2>ul{
    display: inline-block;
    margin: 0;
}
.content2>ul>li{
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}
.content2>ul>li>img{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background: #ccc;
}
.headerName{
    color: darkgrey;
}
.content3{
    width: 1170px;
    margin:  0 auto;
    position: relative;
}
.section{
    margin-top: 50px;
}
.section>ul{
    width: 100%;
    display: table;
    margin-bottom: 20px;
    padding: 0;
}
.section>ul>li{
    display: table-cell;
    width: 20%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-left: 1px solid #dad7c8;
    border-bottom-color: #e3e2df;
    border: 1px solid #e3e2df;
    box-shadow: 0 1px 5px 1px #e3e2df;
}
.section>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
    color: #9e9a89;
}
.section>ul>li:first-child{
    border-left: none;
}
.section>ul>li.active{
    background-color: #fff;
    color: #00a680;
}
#sectionContent{
    width: 100%;
}
.item{
    display: none;
}
.show{
    display: block;
}
.hoverItem a{
    background: #AAC8B9;
}
.active a{
    outline: 0;
    background: #fff;
    z-index: 4;
}
.tabContent{
    width: 100%;
    height: 1038px;
    background-color: #00a680;
}